<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    <!-- 插入到页面标题上方 -->
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ user.name }}'s Watchlist
    </h2>

    <!--有些地方则需要根据登录状态分别显示不同的内容，比如基模板（base.html）中的导航栏。
        如果用户已经登录，就显示设置和登出链接，否则显示登录链接：-->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            </li>
        </ul>
    </nav>
    
    {% block content %}
    <span class="float-right">
        <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
    </span>
    {% endblock %}
    
    <footer>
        <small>&copy; 2022 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
    </footer>
</body>
</html>